
<ion-header>
	<ion-navbar style="text-align: center">
		
		<ion-title *ngIf="!editMode">Create a new shopping list</ion-title>
		<ion-title *ngIf="editMode">Editing a shopping list</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click) = "closeModal();">
				<ion-icon name="close" color="danger"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content>
	<ion-list>
		<ion-card>
			<ion-item>
				<h2 style="text-align: center; color: green">Share your shopping list: <b>{{shoppingListID}}</b></h2>
				<button ion-button icon-only clear item-end (click)="copyID()">
					<ion-icon name="clipboard"></ion-icon>
				</button>
			</ion-item>
				
		</ion-card>
		<ion-card>
			<div style="text-align: center">
					<h1>Got a quick nutrition question? Ask us!</h1>
					<ion-item>
						<ion-label floating>Your question</ion-label>
						<ion-input type="text" value="" [(ngModel)]="question"></ion-input>
					</ion-item>
					<button ion-button (click)="askQuestion()">Submit</button>
					<p>{{answer}}</p>

			</div>
				
			
		</ion-card>

		<ion-card>
			<h1>
				Your Shopping List
				<ion-input type="text" placeholder = "Enter the name of this list. Eg: Friday Shopping" ></ion-input>
			</h1>
			
		
			<ion-grid>
				<!-- CURRENT ITEM HERE -->
				<ion-row *ngFor="let item of shoppingItems; let i = index">
					<ion-col>
						<ion-input [(ngModel)]="item.item_name"></ion-input>
					</ion-col>
					<ion-col>
						<ion-input [(ngModel)]="item.quantity"></ion-input>
					</ion-col>
					<ion-col>
						<ion-input [(ngModel)]="item.price"></ion-input>
					</ion-col>
					<button ion-button icon-only class = "delete-button" (click) = "deleteItem(i)"> <ion-icon name = "close" ></ion-icon></button>
				</ion-row>
		
				
				<!-- ADD NEW ITEM HERE -->
				<ion-row>
					<ion-col>
						<ion-input type="text" placeholder = "Name" [(ngModel)] = "newItem.item_name" (keyup.enter)="addItem()"></ion-input>
					</ion-col>
					<ion-col>
						<ion-input type="text" placeholder = "Amount (optional)" [(ngModel)]="newItem.quantity" (keyup.enter)="addItem()"></ion-input>
					</ion-col>
					<ion-col>
						<ion-input type="text" placeholder = "Price (optional)" [(ngModel)]="newItem.price" (keyup.enter)="addItem()"></ion-input>
					</ion-col>
					<button ion-button icon-only class = "add-button delete-button" (click) = "addItem()"> 
						<ion-icon name = "add" *ngIf = "!currentEdit"></ion-icon>
						<ion-icon name = "create" *ngIf = "currentEdit"></ion-icon>
					</button> 
				</ion-row>
			</ion-grid>
			
		<button ion-button color="secondary" type="submit" (click)="submitList()">Save</button>
		</ion-card>
	</ion-list>
	
	


	
</ion-content>