
<ion-content>
<button ion-button icon-only (click) = "closeModal();" class = "close-button"><ion-icon name = "close"></ion-icon></button>
	<h1><ion-input type="text" placeholder = "Enter the name of this list. Eg: Friday Shopping" ></ion-input></h1>
	<ion-grid>
		<h3 style = "margin-left:0.8rem;">Enter info of each item</h3>
		<ion-row style = "margin-top:1rem;">
			<ion-col class = "isbn-margin">
				Item Name
			</ion-col>
			<ion-col>
				Amount to buy
			</ion-col>
			<ion-col class = "options-margin">
				Price
			</ion-col>
		</ion-row>
		<ion-row *ngFor = "let item of shoppingList">
			<ion-col class = "isbn-margin">
				{{item.name}}
			</ion-col>
			<ion-col>
				 {{item.amount}}
			</ion-col>			
			<ion-col>
				 {{item.price}}
			</ion-col>	
	<button ion-button icon-only class = "delete-button" (click) = "confirmDeletion(book)"> <ion-icon name = "close" ></ion-icon></button>
				<button ion-button icon-only class = "create-button delete-button" (click) = "editBook(book)"> <ion-icon name = "create" ></ion-icon></button>
		</ion-row>
	</ion-grid>
	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-input type="text" placeholder = "Name" [(ngModel)] = "bookISBN"></ion-input>
			</ion-col>
			<ion-col>
				<ion-input type="text" placeholder = "Number" [(ngModel)]="bookName"></ion-input>
			</ion-col>
			<ion-col>
				<ion-input type="text" placeholder = "Price" [(ngModel)]="bookName"></ion-input>
			</ion-col>
			<button ion-button icon-only class = "add-button delete-button" (click) = "addBook()"> 
				<ion-icon name = "add" *ngIf = "!currentEdit"></ion-icon>
				<ion-icon name = "create" *ngIf = "currentEdit"></ion-icon>
			</button> 
		</ion-row>
	</ion-grid>
</ion-content>