register {
	ion-content{
		    opacity: 0.9;
		    background-color: black!important;
		    h1{
		    	text-align: center;
		    	color:white!important;
		    	margin-top:1.2rem!important;
		    	margin-left:3rem!important;
		    }
	}
	.close-button{
		float:right;
		background: transparent;
		color:white;
	}
	.input-information{
		ion-item{
			background-color: transparent;
		}
		ion-input{
			color:white;
		}
	}
	.next-step{
		margin-top:1rem;
		text-align: center;
		button{
			background-color: transparent;
		}
	}
}
