<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding class = "background-photo">
	<h1 class = "login-header"  *ngIf = "displayLogin">Tired of coordinating groceries with roomates or family? Worry no more.</h1>
<ion-card class = "login-card" *ngIf = "displayLogin">
	<p> don't have an account yet? <a style = "color:#1c3d2b;" (click) = "goToRegister()"><u><b>register</b></u></a> now!</p>
	<ion-item>
	<ion-label floating>Email Address</ion-label>
	<ion-input type="text" [(ngModel)] = "email"></ion-input>
	</ion-item>
	<ion-item style = "margin-bottom:3rem;">
	<ion-label floating >Password</ion-label>
	<ion-input type="password" [(ngModel)] = "password"></ion-input>
	</ion-item>
	<div style = "text-align:center;margin-bottom:3rem;"><button ion-button  color = "secondary" (click) = "login()">login</button></div>
</ion-card>
</ion-content>
