page-login {

	.login-card{
		width:50vw;
		margin:auto;
		margin-top:13vh;
		opacity: 0.8;
		p{
			margin-top:3rem;
			text-align: center;
			a{
				
			}
		}
	}
	 .login-header{
	 	text-align:center;
	 	margin-top:14rem !important;
	 	color:white;
	 // 	opacity:0.8;
		// background-color:black;
	 }
}
